$color-1: #80ddf2;
$color-2: #7ed1f2;
$color-3: #77b9fe;
$color-4: #77a9f2;
$color-5: #ffffff;

$color-6: #6c4ab6;
$color-7: #8d72e1;
$color-8: #8d9eff;
$color-9: #b9e0ff;

$red: #ff4d4d;

$gray: #727272;
$background: #f5f5f5;
