@use '../color';

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  background-image: url(../../assets/images/sky.png);
  background-size: 100% 100%;

  .intro-page__logo {
    font-size: 50px;
    // max-height: 200px;
    color: color.$color-5;
  }
  .intro-page__buttons {
    width: 90%;
    margin: 0 auto;
    margin-top: auto;
    .intro-page__button {
      width: 100%;
      padding: 10px 0;
      color: white;
      font-size: 20px;
      border: none;
      background-color: color.$color-4;
      margin-bottom: 20px;
      &:active {
        background: darken($color: color.$color-4, $amount: 10);
      }
    }
  }
}
