@use '../color';

.login-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  .login-page__logo {
    font-size: 60px;
    margin-top: 25%;
    .logo__f {
      color: color.$color-1;
    }
    .logo__a {
      color: color.$color-2;
    }
    .logo__s {
      color: color.$color-3;
    }
    .logo__t {
      color: color.$color-4;
    }
  }

  .login-page__row {
    width: 100%;
    padding: 0 5%;
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .login-page__row__text {
    width: 100%;
    padding-left: 1%;
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    justify-content: left;
  }

  .login-page__row__pwd__text {
    width: 100%;
    padding-right: 1%;
    margin-top: 3%;
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    color: #72A9F2;
    justify-content: right;
  }

  .login-page__text {
    color: #999999;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
  }

  .login-page__text__fast__login {
    color: #999999;
    margin-top: 35px;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
  }

  .login-page__input {
    font-size: 16px;
    margin-top: 3%;
    width: 100%;
    height: 35px;
    padding: 1% 0;
    padding-left: 3%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: color.$color-5;
  }

  .login-page__button {
    width: 90%;
    margin-top: 35px;
    padding: 10px 0;
    color: white;
    font-size: 20px;
    border: none;
    background-color: color.$color-1;

    &:active {
      background: darken($color: color.$color-1, $amount: 10);
    }
  }

  .login-page__naver__button {
    width: 90%;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #3FC754;
    color: white;
    border: none;
    
    .login-page__logo__image {
      padding-right: 4%;
    }
  }

  .login-page__kakao__button {
    width: 90%;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 20px;
    background-color: #FEE500;
    color: #392020;
    border: none;

    .login-page__logo__image {
      padding-right: 4%;
    }
  }
  
}
