@use '../color';

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-image: url(../../assets/images/sky.png);
  background-size: 100% 100%;

  .login-page__logo {
    text-align: center;
    color: white;
  }

  .login-page__wrapper {
    width: 90%;
    margin: 0 auto;
    .login-page__row {
      width: 100%;
      flex-wrap: wrap;
      height: fit-content;
      display: flex;
      justify-content: center;
      .login-page__links {
        margin-top: 10px;
        margin-left: auto;
        .login-page__link {
          padding: 0 4px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .login-page__button {
      width: 100%;
      margin-top: 35px;
      padding: 10px 0;
      color: white;
      font-size: 20px;
      border: none;
      background-color: color.$color-4;

      &:active {
        background: darken($color: color.$color-1, $amount: 10);
      }
    }
  }

  .login-page__row__text {
    width: 100%;
    padding-left: 1%;
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    justify-content: left;
  }

  .login-page__row__pwd__text {
    margin-left: 40%;
    padding-right: 1%;
    margin-top: 3%;
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    color: #72a9f2;
    justify-content: right;
  }

  .message {
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -1px;
    left: 0;

    &.success {
      color: #8f8c8b;
    }

    &.error {
      color: #ff2727;
    }
  }

  .login-page__text {
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
  }

  .login-page__text__fast__login {
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
  }

  .login-page__input {
    font-size: 16px;
    margin-top: 3%;
    width: 100%;
    height: 35px;
    padding: 1% 0;
    padding-left: 3%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: color.$color-5;
  }

  .login-page__social-button {
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 5px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 24px;
    border: none;

    &:active {
      background: darken($color: #fee500, $amount: 10);
    }
  }
  .login-page__social--naver {
    background-color: #2db400;
  }
  .login-page__social--kakao {
    background-color: #f7e600;
    color: #3a1d1d;
  }
}
