@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}

.map-page {
  .map-page__header {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    a {
      color: black;
    }
  }
  .map-page__area-box {
    width: 90%;
  }
}
.mappage__map__container {
  width: 90%;
  margin: auto;
}

// .whole__map {
//   -webkit-animation: flip-scale-down-ver 0.5s linear both;
//   animation: flip-scale-down-ver 0.5s linear both;
// }
