@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}

.map-page {
  .map-page__header {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
    a {
      color: black;
    }
    display: flex;
    .map-page__area-box {
      width: 90%;
      margin: 5px 0px 0px 5px;
    }
  }
}
.mappage__map__container {
  width: 90%;
  margin: auto;
}
