@use '../color';
@use '../components/header';

.sign-up-page {
  overflow-x: hidden;
  // background-color: #efefef;
  background-image: url(../../assets/images/sky.png);
  background-size: 100% 100%;
  height: calc(100% - header.$height);
  .sign-up-page__wrapper {
    width: 100%;
    transition: 0.2s;
    display: flex;
    padding: 20px 0;
    .sign-up-page__form {
      width: 100%;
      height: 100%;
      flex: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .sign-up-page__row {
        width: 90%;
        // padding: 0 5%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        .sign-up-page__message {
          // font-weight: 500;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: -1px;
          // position: absolute;
          // bottom: -10px;
          left: 0;

          &.success {
            color: #8f8c8b;
            margin-top: 3px;
          }

          &.error {
            color: #ff2727;
            margin-top: 3px;
          }
        }
        .sign-up-page__row__text {
          width: 100%;
          padding-left: 1%;
          flex-wrap: wrap;
          height: fit-content;
          display: flex;
          justify-content: left;
          color: white;
          .sign-up-page__text {
            margin-top: 10px;
            font-size: 20px;
            height: 20px;
          }
        }
        .sign-up-page__input {
          font-size: 16px;
          margin-top: 3%;
          width: 100%;
          height: 35px;
          padding: 1% 0;
          padding-left: 3%;
          border: none;
          border-radius: 10px;
          outline: none;
          background-color: color.$color-5;
        }
        .sign-up-page__input--auth {
          font-size: 16px;
          width: 70%;
          height: 35px;
          padding: 1% 0;
          margin-top: 3%;
          padding-left: 3%;
          border: none;
          border-radius: 10px;
          outline: none;
          background-color: color.$color-5;
        }
        .sign-up-page__button {
          width: 20%;
          margin-top: 3%;
          margin-left: auto;
          padding: 10px 0;
          color: white;
          font-size: 16px;
          border: none;
          background-color: color.$color-1;
          border-radius: 10px;

          &:active {
            background: darken($color: color.$color-1, $amount: 10);
          }
        }
      }
    }
    .sign-up-page__tag-form {
      display: flex;
      flex: none;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .sign-up-page__row {
        width: 90%;
        margin-top: 8%;
        display: flex;
        justify-content: center;
        .sign-up-page__button {
          margin-left: auto;
          background-color: color.$color-4;
          width: 20%;
          padding: 10px 0;
          color: white;
          font-size: 16px;
          border: none;
          border-radius: 10px;

          &:active {
            background: darken($color: color.$color-1, $amount: 10);
          }
        }
        .sign-up-page__title {
          font-size: 35px;
          color: white;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .sign-up-page__tag-container {
          width: 100%;

          .sign-up-page__tag-row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
            .sign-up-page__check {
              margin: 0 4px;
            }
            .sign-up-page__tag--6 {
              width: 30%;
              background-color: color.$color-6;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 8px 0;
            }
            .sign-up-page__tag--7 {
              width: 30%;
              background-color: color.$color-7;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 4px 0;
            }
            .sign-up-page__tag--8 {
              width: 30%;
              background-color: color.$color-8;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 4px 0;
            }
            .sign-up-page__tag--9 {
              width: 30%;
              background-color: color.$color-9;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 4px 0;
            }
          }
        }
      }
    }
  }
}
