.my-record-page {
  .my-record-page__photo-card-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    .my-record-page__photo-card-column {
      width: 47.5%;
      display: flex;
      flex-direction: column;
    }
  }
}
