@font-face {
  font-family: 'ImcreSoojin';
  src: url('../src/assets/fonts/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('../src/assets/fonts/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Katuri';
  src: url('../src/assets/fonts/Katuri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('../src/assets/fonts/IM_Hyemin-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/GodoM.woff2') format('woff2'),
    url('../src/assets/fonts/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/GodoB.woff2') format('woff2'),
    url('../src/assets/fonts/GodoB.woff') format('woff');
}

.godo * {
  font-family: 'Godo', sans-serif;
}

body {
  margin: 0;
  font-family: 'Godo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Godo';
}

input {
  font-family: 'Godo';
}

textarea {
  font-family: 'Godo';
}

html,
body,
#root,
.app {
  height: 100%;
  overflow: hidden;
}
