@use '../color';

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.follow_box {
  width: 90%;
  margin: auto;
  padding: 12px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50px 20px auto 10px 50px;
  align-items: center;

  .follow_profile_img {
    grid-column: 1;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
  }
  .follow_id {
    grid-column: 3;
    font-size: 25px;
    color: color.$color-4;
  }
  .follow_btn {
    grid-column: 5;
    background-color: color.$color-2;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 4px 5px 0px color.$color-3;
  }
}
.follow-list-container {
  width: 100%;
  .form_text {
    .input_box {
      margin: auto;
      width: 95%;
      margin: 10px;
      text-align: center;
      .ui_text {
        width: 80%;
        border-radius: 30px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 7px;
        margin-left: 40px;
        font-size: 17px;
        color: color.$color-4;
        outline-color: color.$color-4;
      }
      .magnifier {
        position: absolute;
        left: 2%;
        top: 25%;
        font-size: 30px;
      }
      .input_delete_btn {
        position: absolute;
        font-size: 30px;
        right: 5%;
        top: 25%;
      }
    }
  }
}
.follow_delete_modal {
  text-align: center;
  .follow_delete_text {
    margin: 10px;
  }
  .follow_delete_btn {
    background-color: color.$color-2;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    box-shadow: 4px 5px 0px color.$color-3;
  }
  .follow_delete_btn_clicked {
    background-color: color.$color-2;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    box-shadow: 4px 5px 0px color.$color-3;
  }
}
