@use '../color';

.koreamap {
  width: 90%;
  margin: auto;
}

.total__map {
  margin: auto;
  .base__map {
    width: 100%;
    pointer-events: none;
  }
}

.seoul {
  padding: 0px;
  width: 10.6%;
  height: 7%;
  position: absolute;
  top: 16.4%;
  left: 23.4%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .seoul_back {
    z-index: 2;
    height: 100%;
    width: 100%;
    box-shadow: 20px;
    clip-path: polygon(
      65% 13%,
      59% 21%,
      57% 27%,
      55% 31%,
      51% 33%,
      47% 33%,
      45% 30%,
      41% 27%,
      37% 28%,
      36% 32%,
      36% 36%,
      35% 40%,
      33% 44%,
      31% 46%,
      26% 49%,
      20% 49%,
      16% 47%,
      12% 44%,
      9% 43%,
      3% 49%,
      3% 51%,
      5% 54%,
      9% 54%,
      12% 54%,
      14% 55%,
      16% 57%,
      18% 59%,
      19% 61%,
      19% 64%,
      19% 66%,
      19% 69%,
      22% 70%,
      25% 70%,
      28% 70%,
      30% 72%,
      32% 75%,
      33% 78%,
      34% 81%,
      36% 84%,
      38% 85%,
      42% 85%,
      46% 85%,
      50% 84%,
      53% 82%,
      56% 80%,
      60% 79%,
      64% 80%,
      68% 80%,
      70% 81%,
      72% 83%,
      74% 86%,
      76% 87%,
      79% 84%,
      81% 82%,
      84% 80%,
      88% 80%,
      91% 79%,
      94% 78%,
      96% 76%,
      95% 72%,
      92% 69%,
      91% 65%,
      92% 61%,
      94% 58%,
      95% 55%,
      96% 51%,
      96% 50%,
      93% 50%,
      91% 50%,
      87% 49%,
      85% 45%,
      84% 41%,
      83% 37%,
      82% 33%,
      83% 29%,
      80% 27%,
      77% 24%,
      75% 21%,
      76% 18%,
      76% 14%,
      74% 12%,
      71% 12%,
      67% 13%
    );
  }
}
.seoul:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.gyeonggi {
  padding: 0px;
  width: 36%;
  height: 28.3%;
  position: absolute;
  top: 4.6%;
  left: 15.5%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .gyeonggi_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      13% 73%,
      11% 73%,
      8% 73%,
      8% 75%,
      7% 78%,
      6% 79%,
      8% 79%,
      11% 79%,
      11% 77%,
      12% 75%,
      12% 74%,
      15% 73%,
      15% 74%,
      15% 76%,
      16% 77%,
      16% 79%,
      16% 81%,
      17% 83%,
      18% 85%,
      21% 83%,
      24% 83%,
      25% 84%,
      22% 85%,
      22% 88%,
      22% 91%,
      20% 91%,
      24% 93%,
      27% 94%,
      28% 96%,
      30% 98%,
      34% 98%,
      38% 98%,
      41% 99%,
      44% 99%,
      47% 97%,
      49% 96%,
      51% 98%,
      53% 99%,
      56% 100%,
      58% 100%,
      61% 99%,
      64% 98%,
      64% 96%,
      65% 95%,
      67% 95%,
      69% 93%,
      70% 92%,
      73% 91%,
      77% 91%,
      79% 89%,
      81% 88%,
      83% 83%,
      85% 84%,
      89% 80%,
      90% 74%,
      91% 70%,
      93% 65%,
      93% 62%,
      91% 59%,
      94% 56%,
      97% 55%,
      94% 52%,
      90% 52%,
      85% 50%,
      82% 48%,
      77% 49%,
      76% 47%,
      76% 45%,
      77% 42%,
      75% 42%,
      74% 36%,
      75% 34%,
      77% 32%,
      80% 30%,
      80% 26%,
      75% 23%,
      71% 20%,
      68% 15%,
      64% 14%,
      60% 14%,
      59% 10%,
      56% 10%,
      54% 11%,
      52% 9%,
      51% 5%,
      48% 5%,
      47% 2%,
      42% 5%,
      39% 6%,
      37% 8%,
      34% 12%,
      31% 16%,
      29% 19%,
      25% 21%,
      22% 23%,
      20% 24%,
      18% 26%,
      17% 29%,
      18% 31%,
      17% 33%,
      16% 35%,
      15% 38%,
      13% 39%,
      9% 39%,
      6% 39%,
      7% 41%,
      7% 45%,
      8% 49%,
      9% 52%,
      12% 51%,
      15% 49%,
      17% 49%,
      20% 50%,
      23% 52%,
      25% 51%,
      29% 52%,
      32% 50%,
      33% 48%,
      36% 47%,
      38% 48%,
      38% 45%,
      40% 44%,
      42% 44%,
      45% 44%,
      45% 46%,
      46% 48%,
      46% 50%,
      47% 52%,
      49% 52%,
      51% 53%,
      51% 54%,
      49% 56%,
      49% 57%,
      50% 59%,
      50% 60%,
      48% 61%,
      46% 61%,
      44% 63%,
      42% 62%,
      41% 61%,
      39% 61%,
      36% 62%,
      34% 62%,
      32% 62%,
      31% 60%,
      30% 59%,
      27% 59%,
      27% 57%,
      27% 56%,
      25% 55%,
      23% 55%,
      23% 54%,
      23% 56%,
      22% 57%,
      23% 59%,
      24% 60%,
      23% 62%,
      22% 64%,
      20% 66%,
      19% 68%,
      18% 70%,
      20% 71%,
      22% 71%,
      22% 72%,
      19% 73%,
      16% 72%
    );
  }
}
.gyeonggi:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.incheon {
  padding: 0px;
  width: 11.5%;
  height: 9.5%;
  position: absolute;
  top: 15.1%;
  left: 12.9%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .incheon_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      36% 27%,
      35% 24%,
      34% 20%,
      33% 16%,
      32% 11%,
      30% 8%,
      26% 3%,
      21% 3%,
      17% 4%,
      11% 5%,
      7% 6%,
      5% 8%,
      3% 10%,
      2% 13%,
      4% 16%,
      6% 19%,
      7% 21%,
      9% 24%,
      11% 26%,
      13% 29%,
      14% 31%,
      14% 34%,
      12% 36%,
      10% 38%,
      7% 40%,
      8% 43%,
      10% 46%,
      15% 47%,
      23% 47%,
      29% 47%,
      35% 47%,
      37% 46%,
      37% 41%,
      38% 37%,
      36% 33%,
      37% 29%,
      36% 27%,
      51% 50%,
      56% 47%,
      61% 46%,
      64% 44%,
      67% 42%,
      70% 40%,
      76% 40%,
      81% 42%,
      86% 44%,
      89% 47%,
      93% 50%,
      94% 53%,
      97% 57%,
      96% 60%,
      93% 63%,
      93% 67%,
      94% 71%,
      96% 73%,
      96% 78%,
      93% 82%,
      90% 85%,
      87% 91%,
      81% 92%,
      77% 93%,
      72% 94%,
      69% 96%,
      64% 94%,
      61% 88%,
      62% 86%,
      59% 81%,
      59% 78%,
      63% 75%,
      67% 73%,
      68% 70%,
      67% 67%,
      62% 67%,
      59% 67%,
      59% 64%,
      58% 59%,
      55% 57%,
      52% 53%,
      51% 50%,
      43% 61%,
      44% 64%,
      44% 67%,
      42% 69%,
      39% 72%,
      36% 74%,
      33% 76%,
      29% 78%,
      26% 80%,
      21% 80%,
      17% 79%,
      13% 79%,
      9% 79%,
      5% 77%,
      5% 73%,
      6% 71%,
      8% 68%,
      12% 68%,
      17% 67%,
      22% 66%,
      25% 64%,
      28% 62%,
      31% 61%,
      35% 60%,
      39% 60%,
      42% 60%,
      43% 61%,
      51% 50%,
      36% 27%
    );
  }
}
.incheon:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.sejong {
  padding: 0px;
  width: 7.3%;
  height: 7%;
  position: absolute;
  top: 35.8%;
  left: 32%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);

  .sejong_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      25% 12%,
      40% 15%,
      48% 18%,
      58% 20%,
      65% 23%,
      68% 25%,
      67% 27%,
      65% 30%,
      63% 34%,
      62% 37%,
      63% 39%,
      67% 41%,
      67% 44%,
      68% 47%,
      71% 49%,
      76% 50%,
      80% 51%,
      86% 52%,
      88% 52%,
      90% 58%,
      90% 63%,
      90% 67%,
      89% 73%,
      88% 78%,
      88% 83%,
      87% 86%,
      85% 89%,
      80% 91%,
      75% 93%,
      68% 92%,
      63% 93%,
      57% 92%,
      51% 90%,
      47% 86%,
      47% 78%,
      45% 73%,
      41% 70%,
      40% 66%,
      38% 59%,
      32% 54%,
      26% 48%,
      22% 45%,
      14% 42%,
      14% 36%,
      16% 31%,
      18% 26%,
      16% 23%,
      12% 22%,
      11% 17%,
      17% 13%
    );
  }
}
.sejong:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.gangwon {
  padding: 0px;
  width: 56.9%;
  height: 31.7%;
  position: absolute;
  top: -1%;
  left: 31.2%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .gangwon_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      55% 2%,
      52% 3%,
      52% 5%,
      52% 8%,
      51% 10%,
      50% 12%,
      49% 14%,
      48% 15%,
      47% 18%,
      45% 19%,
      44% 20%,
      42% 20%,
      40% 20%,
      38% 20%,
      36% 20%,
      34% 20%,
      33% 20%,
      32% 21%,
      31% 20%,
      30% 19%,
      27% 19%,
      25% 19%,
      23% 19%,
      21% 20%,
      18% 21%,
      17% 21%,
      15% 21%,
      14% 21%,
      12% 20%,
      10% 20%,
      8% 20%,
      7% 21%,
      5% 21%,
      3% 21%,
      2% 23%,
      3% 24%,
      3% 26%,
      5% 26%,
      5% 28%,
      6% 29%,
      7% 31%,
      8% 30%,
      9% 30%,
      10% 32%,
      10% 33%,
      12% 34%,
      13% 34%,
      15% 34%,
      15% 35%,
      16% 37%,
      17% 39%,
      19% 40%,
      20% 41%,
      21% 43%,
      22% 44%,
      22% 45%,
      23% 45%,
      23% 47%,
      22% 48%,
      22% 48%,
      21% 49%,
      20% 51%,
      20% 52%,
      19% 54%,
      20% 55%,
      20% 57%,
      21% 57%,
      21% 58%,
      21% 60%,
      21% 63%,
      22% 64%,
      23% 63%,
      25% 63%,
      26% 64%,
      27% 65%,
      27% 65%,
      29% 66%,
      30% 66%,
      31% 66%,
      32% 66%,
      32% 67%,
      33% 68%,
      32% 69%,
      32% 70%,
      31% 71%,
      30% 73%,
      31% 74%,
      31% 76%,
      31% 77%,
      31% 78%,
      30% 80%,
      30% 82%,
      29% 84%,
      29% 86%,
      29% 88%,
      29% 89%,
      30% 90%,
      31% 91%,
      32% 92%,
      33% 92%,
      35% 92%,
      36% 92%,
      37% 90%,
      38% 89%,
      39% 87%,
      41% 87%,
      42% 89%,
      42% 90%,
      43% 90%,
      45% 89%,
      46% 88%,
      47% 88%,
      48% 88%,
      50% 87%,
      51% 88%,
      53% 89%,
      54% 89%,
      53% 91%,
      52% 92%,
      52% 93%,
      54% 92%,
      57% 92%,
      58% 94%,
      59% 94%,
      61% 95%,
      63% 95%,
      65% 96%,
      68% 97%,
      70% 98%,
      72% 99%,
      73% 97%,
      75% 96%,
      77% 97%,
      78% 98%,
      80% 98%,
      80% 97%,
      82% 96%,
      83% 97%,
      85% 97%,
      87% 96%,
      87% 95%,
      88% 96%,
      89% 97%,
      90% 98%,
      92% 99%,
      93% 98%,
      94% 96%,
      95% 94%,
      97% 93%,
      99% 92%,
      98% 90%,
      98% 87%,
      98% 84%,
      97% 82%,
      95% 80%,
      93% 78%,
      90% 74%,
      89% 69%,
      88% 65%,
      85% 62%,
      85% 59%,
      83% 57%,
      81% 56%,
      79% 52%,
      78% 49%,
      76% 47%,
      75% 44%,
      73% 41%,
      71% 37%,
      69% 34%,
      67% 30%,
      66% 26%,
      64% 22%,
      62% 17%,
      61% 12%,
      59% 9%,
      58% 7%,
      57% 4%
    );
  }
}
.gangwon:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.daejeon {
  padding: 0px;
  width: 7.9%;
  height: 5.8%;
  position: absolute;
  top: 40.1%;
  left: 35.5%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);

  .daejeon_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      39% 1%,
      36% 4%,
      36% 10%,
      36% 17%,
      34% 20%,
      31% 23%,
      24% 26%,
      21% 28%,
      17% 34%,
      14% 40%,
      11% 47%,
      10% 51%,
      10% 58%,
      8% 64%,
      7% 69%,
      8% 74%,
      12% 76%,
      14% 79%,
      15% 84%,
      18% 89%,
      23% 93%,
      28% 98%,
      32% 99%,
      35% 97%,
      37% 92%,
      39% 86%,
      44% 80%,
      47% 84%,
      50% 89%,
      53% 94%,
      58% 98%,
      63% 94%,
      68% 90%,
      73% 88%,
      77% 85%,
      79% 81%,
      80% 74%,
      80% 65%,
      82% 52%,
      85% 45%,
      87% 41%,
      90% 38%,
      96% 34%,
      96% 30%,
      90% 27%,
      85% 28%,
      81% 28%,
      79% 22%,
      77% 16%,
      75% 12%,
      70% 10%,
      66% 13%,
      62% 15%,
      57% 16%,
      54% 12%,
      53% 5%
    );
  }
}
.daejeon:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.daegu {
  padding: 0px;
  width: 11.4%;
  height: 9.4%;
  position: absolute;
  top: 49.7%;
  left: 63.2%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .daegu_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      81% 4%,
      75% 6%,
      68% 8%,
      63% 9%,
      56% 12%,
      52% 15%,
      47% 15%,
      42% 15%,
      42% 23%,
      38% 29%,
      34% 31%,
      32% 27%,
      30% 19%,
      20% 27%,
      13% 32%,
      8% 41%,
      19% 43%,
      27% 45%,
      29% 50%,
      22% 52%,
      10% 63%,
      17% 68%,
      18% 77%,
      6% 78%,
      14% 95%,
      45% 88%,
      43% 82%,
      49% 72%,
      59% 68%,
      60% 74%,
      66% 75%,
      75% 72%,
      82% 69%,
      84% 67%,
      78% 60%,
      80% 54%,
      87% 46%,
      89% 41%,
      95% 38%,
      96% 34%,
      95% 27%,
      87% 9%
    );
  }
}
.daegu:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.chungcheongbuk {
  position: absolute;
  width: 33.5%;
  height: 23.9%;
  top: 26.3%;
  left: 36.5%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .chungcheongbuk_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      100% 15%,
      90% 12%,
      86% 11%,
      83% 10%,
      82% 7%,
      80% 8%,
      77% 9%,
      74% 9%,
      74% 8%,
      76% 6%,
      77% 4%,
      73% 3%,
      70% 2%,
      68% 2%,
      62% 2%,
      57% 6%,
      55% 3%,
      53% 1%,
      50% 2%,
      48% 3%,
      46% 6%,
      45% 8%,
      41% 8%,
      38% 7%,
      36% 5%,
      34% 4%,
      30% 9%,
      27% 8%,
      25% 13%,
      23% 15%,
      22% 17%,
      18% 17%,
      15% 17%,
      13% 19%,
      12% 21%,
      11% 22%,
      8% 22%,
      7% 24%,
      7% 26%,
      2% 27%,
      2% 30%,
      4% 33%,
      6% 36%,
      8% 36%,
      9% 40%,
      5% 41%,
      2% 44%,
      0% 47%,
      0% 49%,
      1% 53%,
      3% 55%,
      5% 55%,
      6% 57%,
      6% 60%,
      6% 62%,
      8% 62%,
      10% 62%,
      10% 63%,
      12% 65%,
      15% 64%,
      16% 65%,
      17% 68%,
      20% 68%,
      18% 70%,
      17% 73%,
      16% 75%,
      16% 77%,
      16% 80%,
      16% 81%,
      19% 83%,
      22% 84%,
      23% 86%,
      23% 89%,
      24% 91%,
      25% 93%,
      27% 95%,
      28% 97%,
      31% 98%,
      34% 98%,
      36% 98%,
      39% 98%,
      42% 98%,
      44% 99%,
      46% 99%,
      47% 98%,
      48% 96%,
      50% 95%,
      51% 93%,
      53% 91%,
      53% 89%,
      53% 87%,
      53% 85%,
      56% 85%,
      57% 85%,
      57% 83%,
      57% 80%,
      54% 80%,
      52% 79%,
      49% 79%,
      46% 77%,
      44% 78%,
      43% 75%,
      46% 74%,
      46% 67%,
      45% 63%,
      46% 60%,
      46% 57%,
      43% 56%,
      39% 53%,
      42% 52%,
      44% 50%,
      48% 51%,
      49% 49%,
      49% 47%,
      48% 45%,
      51% 44%,
      53% 44%,
      56% 44%,
      57% 44%,
      58% 43%,
      57% 39%,
      58% 36%,
      62% 36%,
      65% 35%,
      68% 35%,
      71% 36%,
      71% 33%,
      73% 33%,
      75% 34%,
      78% 35%,
      80% 36%,
      83% 36%,
      85% 36%,
      87% 35%,
      87% 33%,
      87% 31%,
      86% 29%,
      86% 27%,
      89% 25%,
      91% 23%,
      94% 22%,
      96% 20%,
      98% 18%,
      99% 17%
    );
  }
}
.chungcheongbuk:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.chungcheongnam {
  padding: 0px;
  position: absolute;
  width: 40.8%;
  height: 21.2%;
  top: 29.8%;
  left: 5.2%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);

  .chungcheongnam_back {
    z-index: 1;
    height: 100%;
    width: 100%;
    clip-path: polygon(
      28% 0%,
      27% 3%,
      21% 2%,
      18% 6%,
      21% 10%,
      22% 14%,
      20% 15%,
      17% 19%,
      17% 9%,
      14% 13%,
      13% 16%,
      12% 13%,
      9% 15%,
      9% 19%,
      6% 21%,
      4% 32%,
      7% 29%,
      9% 28%,
      10% 30%,
      8% 31%,
      5% 32%,
      5% 34%,
      6% 36%,
      8% 37%,
      10% 36%,
      12% 34%,
      13% 35%,
      13% 37%,
      14% 39%,
      14% 41%,
      14% 45%,
      15% 45%,
      17% 45%,
      17% 48%,
      18% 51%,
      18% 54%,
      19% 56%,
      20% 60%,
      25% 60%,
      24% 54%,
      23% 49%,
      22% 46%,
      20% 40%,
      21% 41%,
      23% 42%,
      25% 42%,
      26% 39%,
      26% 38%,
      27% 41%,
      25% 43%,
      24% 47%,
      26% 50%,
      26% 54%,
      27% 57%,
      28% 59%,
      27% 63%,
      30% 67%,
      28% 68%,
      28% 70%,
      29% 75%,
      29% 77%,
      27% 81%,
      27% 84%,
      27% 88%,
      29% 87%,
      32% 87%,
      33% 90%,
      35% 93%,
      37% 97%,
      41% 99%,
      48% 95%,
      50% 94%,
      51% 92%,
      52% 89%,
      54% 87%,
      56% 87%,
      58% 86%,
      59% 86%,
      61% 88%,
      62% 89%,
      63% 90%,
      64% 91%,
      66% 92%,
      68% 92%,
      69% 93%,
      71% 92%,
      72% 92%,
      74% 91%,
      76% 90%,
      78% 90%,
      79% 92%,
      80% 94%,
      81% 95%,
      82% 96%,
      83% 97%,
      85% 99%,
      88% 100%,
      90% 100%,
      91% 98%,
      93% 98%,
      95% 98%,
      96% 98%,
      96% 96%,
      97% 94%,
      99% 94%,
      98% 91%,
      97% 89%,
      97% 85%,
      97% 81%,
      96% 78%,
      91% 76%,
      89% 76%,
      87% 77%,
      86% 79%,
      82% 73%,
      82% 75%,
      80% 77%,
      80% 80%,
      77% 76%,
      76% 73%,
      76% 69%,
      76% 66%,
      77% 63%,
      78% 60%,
      77% 58%,
      75% 57%,
      75% 54%,
      73% 50%,
      73% 47%,
      71% 43%,
      69% 41%,
      69% 38%,
      70% 35%,
      68% 34%,
      70% 32%,
      73% 33%,
      75% 34%,
      77% 36%,
      78% 33%,
      80% 33%,
      81% 30%,
      86% 30%,
      83% 24%,
      81% 21%,
      77% 14%,
      69% 8%,
      67% 8%,
      65% 11%,
      58% 11%,
      57% 12%,
      55% 14%,
      52% 14%,
      51% 17%,
      51% 18%,
      49% 20%,
      49% 17%,
      48% 15%,
      48% 13%,
      46% 11%,
      45% 9%,
      44% 6%,
      41% 6%,
      39% 9%,
      37% 9%,
      37% 7%,
      34% 5%,
      33% 1%,
      31% 0%
    );
  }
}
.chungcheongnam:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.jeollabuk {
  padding: 0px;
  position: absolute;
  width: 37%;
  height: 16.3%;
  top: 48.3%;
  left: 15.4%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .jeollabuk_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      19% 18%,
      9% 18%,
      6% 19%,
      5% 23%,
      5% 26%,
      11% 26%,
      11% 29%,
      12% 32%,
      16% 32%,
      20% 32%,
      17% 34%,
      17% 37%,
      20% 37%,
      22% 41%,
      20% 42%,
      15% 42%,
      13% 46%,
      11% 50%,
      9% 53%,
      6% 54%,
      4% 55%,
      2% 58%,
      1% 61%,
      1% 65%,
      4% 66%,
      7% 66%,
      9% 67%,
      11% 67%,
      10% 70%,
      8% 71%,
      5% 71%,
      3% 73%,
      2% 75%,
      1% 79%,
      1% 83%,
      2% 87%,
      3% 92%,
      4% 95%,
      8% 96%,
      12% 95%,
      15% 94%,
      17% 93%,
      19% 89%,
      20% 86%,
      20% 82%,
      24% 78%,
      27% 80%,
      29% 83%,
      31% 85%,
      33% 86%,
      35% 86%,
      36% 83%,
      38% 80%,
      39% 82%,
      39% 87%,
      40% 90%,
      41% 92%,
      40% 95%,
      42% 97%,
      44% 98%,
      46% 97%,
      49% 97%,
      51% 96%,
      53% 98%,
      62% 98%,
      64% 98%,
      65% 95%,
      67% 93%,
      69% 93%,
      72% 94%,
      74% 95%,
      77% 97%,
      79% 95%,
      80% 93%,
      82% 90%,
      83% 85%,
      82% 80%,
      81% 75%,
      79% 71%,
      79% 68%,
      79% 63%,
      81% 55%,
      82% 49%,
      84% 45%,
      87% 41%,
      89% 38%,
      92% 36%,
      94% 34%,
      97% 31%,
      99% 29%,
      99% 26%,
      99% 22%,
      98% 18%,
      97% 15%,
      95% 13%,
      92% 13%,
      88% 13%,
      84% 12%,
      82% 10%,
      80% 10%,
      79% 12%,
      79% 15%,
      76% 15%,
      74% 15%,
      71% 17%,
      69% 17%,
      66% 15%,
      62% 11%,
      60% 7%,
      58% 5%,
      54% 6%,
      51% 8%,
      49% 9%,
      46% 7%,
      43% 6%,
      41% 4%,
      39% 1%,
      35% 1%,
      31% 1%,
      29% 5%,
      28% 8%,
      26% 10%,
      24% 13%,
      22% 14%,
      21% 15%
    );
  }
}
.jeollabuk:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.jeollanam {
  padding: 0px;
  position: absolute;
  width: 50.8%;
  height: 23.6%;
  top: 61.1%;
  left: -0.6%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .jeollanam_back {
    z-index: 1;
    height: 100%;
    width: 100%;
    clip-path: polygon(
      45% 20%,
      45% 21%,
      44% 22%,
      43% 22%,
      42% 22%,
      41% 24%,
      42% 25%,
      41% 27%,
      40% 29%,
      41% 31%,
      42% 31%,
      44% 31%,
      45% 31%,
      46% 32%,
      46% 34%,
      47% 36%,
      48% 36%,
      49% 36%,
      50% 35%,
      52% 35%,
      53% 34%,
      54% 34%,
      55% 34%,
      56% 33%,
      57% 32%,
      58% 31%,
      59% 29%,
      59% 28%,
      59% 26%,
      57% 25%,
      57% 24%,
      56% 23%,
      55% 21%,
      54% 20%,
      53% 20%,
      51% 21%,
      49% 21%,
      48% 22%,
      47% 21%,
      47% 20%,
      46% 19%,
      45% 20%,
      42% 11%,
      43% 10%,
      44% 9%,
      45% 8%,
      45% 7%,
      45% 6%,
      45% 4%,
      46% 3%,
      48% 2%,
      48% 1%,
      50% 1%,
      51% 2%,
      51% 3%,
      52% 4%,
      53% 5%,
      54% 7%,
      56% 7%,
      56% 6%,
      57% 5%,
      57% 3%,
      58% 3%,
      59% 2%,
      60% 3%,
      60% 5%,
      60% 7%,
      60% 8%,
      61% 9%,
      61% 10%,
      61% 11%,
      61% 12%,
      61% 13%,
      61% 14%,
      62% 14%,
      63% 15%,
      65% 15%,
      65% 14%,
      66% 14%,
      67% 13%,
      68% 13%,
      69% 14%,
      70% 15%,
      71% 15%,
      73% 15%,
      77% 15%,
      78% 14%,
      79% 12%,
      80% 10%,
      81% 11%,
      83% 12%,
      84% 12%,
      85% 13%,
      87% 14%,
      87% 15%,
      88% 16%,
      89% 18%,
      89% 19%,
      90% 21%,
      90% 23%,
      91% 25%,
      91% 26%,
      93% 27%,
      93% 30%,
      94% 32%,
      95% 34%,
      97% 36%,
      97% 38%,
      97% 40%,
      97% 43%,
      98% 45%,
      98% 47%,
      98% 49%,
      96% 50%,
      94% 50%,
      92% 50%,
      89% 49%,
      90% 51%,
      92% 52%,
      93% 52%,
      97% 52%,
      97% 54%,
      96% 56%,
      96% 58%,
      97% 60%,
      98% 63%,
      98% 65%,
      98% 69%,
      98% 72%,
      99% 74%,
      97% 74%,
      95% 74%,
      94% 72%,
      95% 70%,
      96% 68%,
      97% 68%,
      97% 67%,
      96% 64%,
      94% 63%,
      93% 63%,
      91% 63%,
      90% 65%,
      91% 67%,
      91% 69%,
      91% 71%,
      90% 71%,
      88% 71%,
      87% 68%,
      87% 65%,
      87% 62%,
      87% 59%,
      86% 55%,
      85% 54%,
      83% 54%,
      81% 56%,
      79% 56%,
      79% 58%,
      78% 62%,
      79% 65%,
      81% 66%,
      82% 68%,
      83% 70%,
      84% 73%,
      84% 75%,
      83% 76%,
      81% 76%,
      81% 77%,
      82% 80%,
      83% 81%,
      84% 82%,
      85% 85%,
      84% 87%,
      82% 87%,
      81% 86%,
      81% 83%,
      81% 82%,
      81% 80%,
      79% 80%,
      78% 81%,
      78% 82%,
      77% 83%,
      76% 83%,
      75% 85%,
      75% 87%,
      73% 86%,
      72% 85%,
      72% 82%,
      70% 81%,
      68% 80%,
      65% 80%,
      64% 80%,
      65% 83%,
      66% 82%,
      68% 82%,
      69% 83%,
      69% 85%,
      69% 87%,
      68% 87%,
      66% 87%,
      65% 87%,
      64% 85%,
      64% 82%,
      64% 80%,
      64% 77%,
      65% 76%,
      67% 75%,
      68% 75%,
      70% 74%,
      71% 73%,
      70% 72%,
      69% 71%,
      69% 69%,
      71% 68%,
      73% 67%,
      74% 67%,
      75% 66%,
      75% 63%,
      75% 61%,
      73% 62%,
      72% 62%,
      70% 61%,
      69% 61%,
      68% 65%,
      68% 66%,
      67% 65%,
      65% 64%,
      64% 66%,
      63% 67%,
      62% 69%,
      60% 70%,
      59% 73%,
      57% 76%,
      56% 79%,
      56% 82%,
      56% 86%,
      53% 85%,
      53% 87%,
      52% 88%,
      50% 88%,
      49% 87%,
      48% 86%,
      48% 84%,
      48% 81%,
      48% 78%,
      47% 75%,
      46% 78%,
      46% 82%,
      45% 84%,
      44% 85%,
      43% 88%,
      42% 89%,
      41% 89%,
      43% 90%,
      44% 92%,
      44% 94%,
      46% 94%,
      48% 94%,
      50% 94%,
      52% 94%,
      54% 95%,
      54% 97%,
      53% 98%,
      50% 98%,
      48% 97%,
      47% 95%,
      46% 96%,
      46% 98%,
      46% 99%,
      44% 99%,
      43% 98%,
      42% 97%,
      41% 96%,
      41% 94%,
      41% 92%,
      40% 90%,
      39% 91%,
      39% 94%,
      39% 95%,
      38% 95%,
      37% 95%,
      35% 96%,
      35% 98%,
      34% 96%,
      32% 94%,
      32% 93%,
      33% 92%,
      34% 89%,
      33% 88%,
      31% 88%,
      31% 86%,
      31% 83%,
      30% 82%,
      31% 80%,
      29% 79%,
      28% 79%,
      26% 78%,
      26% 85%,
      25% 88%,
      23% 89%,
      22% 91%,
      20% 92%,
      17% 92%,
      13% 93%,
      12% 89%,
      13% 86%,
      15% 85%,
      16% 81%,
      17% 80%,
      19% 80%,
      19% 77%,
      21% 76%,
      23% 74%,
      23% 71%,
      23% 68%,
      21% 66%,
      20% 65%,
      18% 68%,
      18% 69%,
      17% 70%,
      16% 71%,
      14% 71%,
      12% 71%,
      12% 69%,
      13% 68%,
      15% 67%,
      17% 67%,
      17% 67%,
      18% 68%,
      20% 65%,
      8% 69%,
      9% 71%,
      10% 72%,
      10% 74%,
      12% 74%,
      13% 74%,
      12% 76%,
      11% 77%,
      9% 78%,
      8% 76%,
      8% 74%,
      7% 72%,
      7% 70%,
      8% 69%,
      20% 65%,
      17% 65%,
      16% 64%,
      15% 63%,
      14% 63%,
      13% 63%,
      13% 62%,
      12% 61%,
      11% 60%,
      11% 59%,
      12% 59%,
      13% 59%,
      14% 58%,
      15% 57%,
      16% 57%,
      17% 58%,
      17% 60%,
      17% 62%,
      17% 64%,
      17% 65%,
      20% 65%,
      8% 66%,
      7% 67%,
      6% 68%,
      5% 69%,
      4% 69%,
      4% 68%,
      4% 66%,
      5% 65%,
      4% 64%,
      3% 63%,
      1% 62%,
      1% 61%,
      2% 59%,
      4% 59%,
      5% 58%,
      6% 56%,
      7% 56%,
      8% 58%,
      8% 60%,
      8% 62%,
      7% 63%,
      7% 64%,
      8% 65%,
      8% 66%,
      20% 65%,
      21% 64%,
      22% 62%,
      23% 61%,
      24% 60%,
      24% 63%,
      25% 64%,
      26% 63%,
      27% 62%,
      27% 59%,
      25% 59%,
      24% 59%,
      24% 58%,
      24% 55%,
      22% 55%,
      21% 54%,
      20% 53%,
      19% 52%,
      16% 52%,
      15% 53%,
      14% 54%,
      14% 56%,
      13% 56%,
      12% 56%,
      11% 55%,
      11% 53%,
      12% 52%,
      12% 51%,
      11% 51%,
      9% 51%,
      7% 50%,
      7% 49%,
      9% 47%,
      10% 47%,
      12% 46%,
      12% 48%,
      13% 49%,
      13% 50%,
      14% 50%,
      15% 49%,
      16% 51%,
      16% 52%,
      16% 52%,
      19% 52%,
      21% 51%,
      22% 49%,
      23% 48%,
      23% 46%,
      23% 44%,
      22% 43%,
      22% 42%,
      23% 41%,
      25% 40%,
      26% 40%,
      27% 39%,
      28% 38%,
      26% 37%,
      24% 36%,
      21% 34%,
      20% 35%,
      19% 37%,
      16% 39%,
      15% 41%,
      14% 44%,
      14% 41%,
      14% 38%,
      16% 36%,
      17% 34%,
      18% 31%,
      19% 30%,
      21% 29%,
      22% 29%,
      24% 29%,
      25% 30%,
      26% 33%,
      27% 34%,
      28% 36%,
      28% 37%,
      30% 36%,
      31% 33%,
      31% 31%,
      30% 30%,
      29% 29%,
      28% 28%,
      27% 27%,
      26% 26%,
      25% 26%,
      26% 24%,
      25% 23%,
      24% 22%,
      23% 21%,
      24% 19%,
      25% 18%,
      27% 16%,
      27% 14%,
      28% 11%,
      29% 10%,
      30% 8%,
      31% 7%,
      32% 6%,
      33% 6%,
      33% 8%,
      34% 10%,
      34% 12%,
      34% 14%,
      36% 13%,
      37% 13%,
      39% 13%,
      40% 12%,
      41% 12%,
      42% 11%,
      45% 20%
    );
  }
}
.jeollanam:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.gwangju {
  padding: 0px;
  position: absolute;
  width: 10%;
  height: 5%;
  top: 64.8%;
  left: 19.8%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .gwangju_back {
    z-index: 1;
    height: 100%;
    width: 100%;

    clip-path: polygon(
      33% 5%,
      28% 8%,
      25% 18%,
      22% 22%,
      15% 24%,
      11% 24%,
      11% 28%,
      10% 33%,
      8% 38%,
      6% 43%,
      7% 48%,
      3% 53%,
      3% 57%,
      4% 64%,
      7% 68%,
      13% 71%,
      22% 72%,
      28% 73%,
      31% 75%,
      31% 82%,
      31% 87%,
      32% 92%,
      36% 94%,
      41% 95%,
      48% 93%,
      62% 85%,
      66% 84%,
      70% 83%,
      76% 84%,
      79% 84%,
      80% 82%,
      82% 79%,
      85% 77%,
      93% 69%,
      95% 66%,
      96% 63%,
      97% 52%,
      100% 44%,
      98% 38%,
      96% 36%,
      90% 37%,
      87% 35%,
      84% 28%,
      82% 22%,
      79% 16%,
      76% 12%,
      72% 11%,
      68% 11%,
      47% 17%,
      43% 18%,
      40% 18%,
      38% 16%,
      36% 13%,
      37% 8%
    );
  }
}
.gwangju:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.gyeongsangbuk {
  padding: 0px;
  width: 45.3%;
  height: 32.2%;
  position: absolute;
  top: 27.3%;
  left: 49.3%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .gyeongsangbuk_back {
    height: 100%;
    width: 100%;
    z-index: 1;
    clip-path: polygon(
      85% 2%,
      78% 6%,
      78% 9%,
      75% 9%,
      73% 7%,
      71% 5%,
      70% 7%,
      62% 7%,
      60% 9%,
      55% 8%,
      53% 8%,
      53% 10%,
      47% 8%,
      45% 9%,
      42% 12%,
      37% 15%,
      35% 18%,
      35% 20%,
      36% 22%,
      36% 23%,
      33% 23%,
      30% 23%,
      25% 21%,
      24% 22%,
      24% 23%,
      22% 23%,
      19% 23%,
      16% 23%,
      15% 25%,
      15% 28%,
      15% 29%,
      13% 29%,
      10% 29%,
      7% 30%,
      8% 31%,
      8% 35%,
      6% 34%,
      5% 33%,
      4% 36%,
      1% 37%,
      3% 38%,
      5% 40%,
      6% 42%,
      5% 45%,
      5% 48%,
      5% 51%,
      5% 52%,
      4% 53%,
      4% 55%,
      6% 55%,
      8% 56%,
      9% 56%,
      11% 57%,
      14% 58%,
      14% 60%,
      12% 60%,
      11% 64%,
      10% 66%,
      10% 68%,
      6% 71%,
      5% 72%,
      6% 74%,
      6% 76%,
      5% 79%,
      6% 81%,
      8% 81%,
      10% 82%,
      14% 82%,
      16% 83%,
      20% 85%,
      23% 91%,
      21% 93%,
      24% 95%,
      27% 94%,
      30% 95%,
      33% 96%,
      32% 91%,
      35% 91%,
      34% 87%,
      38% 84%,
      33% 82%,
      37% 77%,
      39% 80%,
      41% 76%,
      45% 75%,
      47% 73%,
      51% 73%,
      53% 79%,
      53% 81%,
      52% 82%,
      49% 86%,
      50% 89%,
      48% 90%,
      46% 91%,
      45% 88%,
      43% 91%,
      42% 92%,
      42% 96%,
      47% 98%,
      50% 98%,
      52% 98%,
      56% 98%,
      59% 97%,
      62% 95%,
      66% 95%,
      68% 96%,
      70% 94%,
      71% 95%,
      72% 92%,
      74% 90%,
      76% 90%,
      80% 90%,
      82% 94%,
      86% 92%,
      93% 93%,
      94% 88%,
      95% 83%,
      95% 77%,
      98% 70%,
      98% 68%,
      92% 70%,
      90% 71%,
      90% 68%,
      91% 64%,
      93% 62%,
      91% 62%,
      88% 60%,
      87% 55%,
      89% 51%,
      90% 48%,
      91% 45%,
      91% 42%,
      91% 40%,
      91% 37%,
      90% 35%,
      90% 32%,
      92% 31%,
      93% 28%,
      93% 27%,
      93% 24%,
      93% 21%,
      92% 18%,
      91% 16%,
      90% 13%,
      88% 10%,
      88% 6%
    );
  }
}
.gyeongsangbuk:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.gyeongsangnam {
  padding: 0px;
  position: absolute;
  width: 42.5%;
  height: 24.8%;
  top: 52.3%;
  left: 43.2%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .gyeongsangnam_back {
    height: 100%;
    width: 100%;
    z-index: 2;
    clip-path: polygon(
      14% 80%,
      18% 80%,
      17% 82%,
      16% 86%,
      17% 89%,
      19% 92%,
      18% 94%,
      20% 97%,
      24% 97%,
      25% 95%,
      27% 96%,
      29% 95%,
      30% 92%,
      31% 90%,
      30% 87%,
      27% 88%,
      25% 88%,
      24% 87%,
      21% 85%,
      20% 84%,
      21% 82%,
      21% 80%,
      21% 79%,
      20% 77%,
      22% 76%,
      23% 74%,
      25% 75%,
      26% 74%,
      28% 73%,
      29% 74%,
      31% 76%,
      31% 77%,
      30% 78%,
      28% 79%,
      27% 80%,
      26% 82%,
      25% 84%,
      27% 85%,
      29% 86%,
      31% 86%,
      33% 87%,
      32% 85%,
      32% 83%,
      32% 82%,
      33% 81%,
      35% 81%,
      37% 82%,
      38% 81%,
      39% 80%,
      40% 80%,
      42% 80%,
      44% 80%,
      45% 80%,
      45% 81%,
      46% 83%,
      48% 84%,
      49% 84%,
      49% 85%,
      49% 87%,
      48% 88%,
      48% 90%,
      49% 91%,
      50% 91%,
      52% 92%,
      53% 92%,
      54% 90%,
      54% 89%,
      55% 88%,
      57% 88%,
      59% 89%,
      60% 88%,
      62% 87%,
      62% 89%,
      62% 90%,
      61% 92%,
      62% 93%,
      61% 94%,
      61% 97%,
      60% 98%,
      62% 99%,
      63% 98%,
      65% 98%,
      66% 96%,
      66% 94%,
      67% 92%,
      67% 91%,
      69% 89%,
      70% 88%,
      71% 87%,
      72% 85%,
      71% 83%,
      71% 81%,
      70% 80%,
      70% 78%,
      70% 76%,
      70% 75%,
      70% 73%,
      69% 71%,
      68% 70%,
      66% 71%,
      65% 73%,
      65% 74%,
      64% 76%,
      63% 77%,
      63% 78%,
      62% 79%,
      61% 80%,
      59% 80%,
      58% 80%,
      57% 80%,
      55% 80%,
      54% 80%,
      54% 81%,
      53% 80%,
      53% 78%,
      53% 77%,
      53% 76%,
      53% 75%,
      54% 74%,
      55% 74%,
      56% 73%,
      56% 71%,
      56% 70%,
      56% 68%,
      57% 67%,
      58% 65%,
      60% 64%,
      60% 66%,
      61% 68%,
      62% 69%,
      63% 70%,
      64% 68%,
      65% 67%,
      66% 66%,
      65% 64%,
      64% 63%,
      62% 62%,
      62% 61%,
      64% 61%,
      66% 62%,
      68% 63%,
      69% 64%,
      71% 64%,
      72% 65%,
      74% 65%,
      75% 65%,
      77% 64%,
      77% 63%,
      76% 62%,
      75% 61%,
      76% 60%,
      78% 61%,
      79% 59%,
      79% 58%,
      79% 56%,
      81% 56%,
      82% 56%,
      84% 55%,
      85% 54%,
      86% 53%,
      87% 52%,
      89% 51%,
      90% 50%,
      91% 49%,
      92% 48%,
      93% 47%,
      94% 46%,
      94% 44%,
      96% 44%,
      97% 43%,
      98% 42%,
      99% 40%,
      98% 38%,
      97% 38%,
      95% 38%,
      94% 37%,
      94% 35%,
      92% 34%,
      91% 34%,
      90% 33%,
      89% 31%,
      88% 31%,
      87% 31%,
      86% 31%,
      85% 29%,
      84% 28%,
      85% 28%,
      87% 27%,
      87% 26%,
      86% 24%,
      85% 23%,
      82% 23%,
      80% 23%,
      79% 23%,
      78% 24%,
      77% 25%,
      75% 26%,
      74% 26%,
      72% 26%,
      70% 26%,
      69% 26%,
      68% 26%,
      66% 27%,
      64% 26%,
      62% 26%,
      61% 25%,
      59% 24%,
      59% 23%,
      58% 21%,
      56% 22%,
      54% 22%,
      52% 23%,
      51% 23%,
      49% 24%,
      47% 23%,
      45% 22%,
      43% 22%,
      41% 22%,
      39% 22%,
      38% 22%,
      36% 21%,
      37% 20%,
      38% 19%,
      38% 17%,
      38% 16%,
      37% 14%,
      36% 12%,
      36% 11%,
      35% 9%,
      34% 8%,
      32% 8%,
      30% 7%,
      29% 6%,
      27% 6%,
      25% 6%,
      24% 6%,
      23% 4%,
      21% 3%,
      20% 3%,
      19% 2%,
      17% 3%,
      16% 4%,
      15% 5%,
      14% 6%,
      13% 7%,
      11% 8%,
      10% 9%,
      9% 10%,
      7% 12%,
      6% 14%,
      6% 16%,
      5% 18%,
      4% 20%,
      4% 22%,
      4% 24%,
      3% 26%,
      2% 28%,
      2% 30%,
      3% 31%,
      4% 33%,
      5% 36%,
      6% 37%,
      6% 39%,
      6% 41%,
      6% 42%,
      5% 44%,
      4% 46%,
      2% 48%,
      2% 49%,
      2% 51%,
      3% 53%,
      4% 55%,
      4% 57%,
      5% 59%,
      6% 60%,
      7% 61%,
      8% 63%,
      9% 65%,
      10% 66%,
      11% 68%,
      12% 69%,
      13% 70%,
      12% 72%,
      12% 74%,
      13% 76%,
      13% 77%
    );
  }
}
.gyeongsangnam:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.ulsan {
  padding: 0px;
  position: absolute;
  width: 12.3%;
  height: 7.9%;
  top: 55.8%;
  left: 78.9%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .ulsan_back {
    height: 100%;
    width: 100%;
    z-index: 1;
    clip-path: polygon(
      22% 27%,
      14% 26%,
      11% 29%,
      10% 33%,
      10% 37%,
      10% 41%,
      6% 44%,
      2% 45%,
      2% 48%,
      3% 51%,
      6% 54%,
      6% 56%,
      12% 56%,
      19% 55%,
      20% 58%,
      22% 60%,
      24% 63%,
      29% 65%,
      32% 69%,
      38% 78%,
      42% 77%,
      46% 78%,
      47% 80%,
      48% 84%,
      48% 88%,
      56% 88%,
      61% 89%,
      62% 92%,
      66% 98%,
      69% 96%,
      73% 94%,
      77% 95%,
      83% 94%,
      85% 87%,
      80% 80%,
      78% 65%,
      87% 68%,
      91% 64%,
      95% 54%,
      98% 44%,
      99% 33%,
      99% 23%,
      77% 18%,
      60% 23%,
      57% 15%,
      56% 11%,
      55% 8%,
      49% 7%,
      40% 7%,
      35% 7%,
      30% 8%,
      26% 10%,
      22% 15%,
      22% 20%
    );
  }
}
.ulsan:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.busan {
  padding: 0px;
  position: absolute;
  width: 14.6%;
  height: 8.2%;
  top: 62.3%;
  left: 74.1%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);

  .busan_back {
    height: 100%;
    width: 100%;
    z-index: 1;
    clip-path: polygon(
      8% 88%,
      12% 89%,
      16% 91%,
      16% 95%,
      14% 99%,
      12% 99%,
      9% 99%,
      7% 98%,
      6% 94%,
      6% 91%,
      8% 88%,
      15% 81%,
      20% 81%,
      27% 81%,
      34% 83%,
      39% 85%,
      58% 85%,
      59% 77%,
      63% 71%,
      72% 65%,
      81% 57%,
      86% 52%,
      87% 46%,
      91% 32%,
      97% 15%,
      92% 13%,
      90% 6%,
      79% 6%,
      73% 10%,
      65% 10%,
      64% 17%,
      53% 28%,
      49% 30%,
      46% 35%,
      40% 40%,
      32% 44%,
      22% 47%,
      18% 59%,
      7% 61%,
      14% 68%,
      14% 73%,
      8% 75%,
      10% 81%,
      15% 81%,
      8% 88%
    );
  }
}
.busan:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.jeju {
  position: absolute;
  width: 23%;
  height: 8%;
  top: 88.7%;
  left: 8%;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  padding: 0px;
  filter: drop-shadow(0px 5px 0px black);

  .jeju_back {
    height: 95%;
    width: 100%;
    z-index: 1;
    clip-path: polygon(
      67% 4%,
      72% 5%,
      78% 7%,
      83% 11%,
      88% 12%,
      93% 16%,
      96% 19%,
      98% 27%,
      99% 35%,
      97% 42%,
      94% 48%,
      91% 57%,
      88% 62%,
      85% 65%,
      82% 70%,
      80% 77%,
      77% 78%,
      73% 77%,
      70% 77%,
      68% 81%,
      66% 84%,
      63% 89%,
      59% 89%,
      53% 89%,
      49% 89%,
      47% 89%,
      45% 93%,
      42% 92%,
      37% 91%,
      33% 89%,
      28% 89%,
      26% 89%,
      23% 93%,
      20% 97%,
      18% 99%,
      14% 96%,
      11% 89%,
      8% 87%,
      5% 86%,
      4% 79%,
      3% 70%,
      4% 61%,
      8% 58%,
      13% 56%,
      15% 48%,
      16% 42%,
      19% 37%,
      24% 31%,
      30% 26%,
      34% 21%,
      40% 20%,
      44% 18%,
      48% 15%,
      52% 12%,
      59% 12%,
      63% 8%
    );
  }
}
.jeju:active {
  transform: translate(0px, 5px);
  filter: drop-shadow(0px -3px 0px black);
}

.ulleungdo {
  position: absolute;
  width: 4.7%;
  height: 3.4%;
  top: 5.2%;
  left: 83%;
  padding: 0px;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .ulleungdo_back {
    z-index: 1;
    height: 100%;
    width: 100%;
    clip-path: polygon(
      75% 25%,
      62% 28%,
      45% 35%,
      23% 41%,
      12% 46%,
      6% 57%,
      10% 65%,
      17% 71%,
      24% 75%,
      33% 79%,
      43% 82%,
      53% 83%,
      64% 84%,
      75% 81%,
      83% 76%,
      88% 69%,
      92% 60%,
      95% 51%,
      93% 42%,
      91% 33%,
      84% 27%
    );
  }
}
.ulleungdo:active {
  transform: translate(0px, 5px);
  filter: none;
}

.dokdo {
  position: absolute;
  width: 2%;
  height: 2%;
  top: 9%;
  left: 93.2%;
  padding: 0px;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 0px;
  filter: drop-shadow(0px 5px 0px black);
  .dokdo_back {
    z-index: 1;
    height: 100%;
    width: 100%;
    clip-path: polygon(
      29% 23%,
      23% 31%,
      19% 41%,
      19% 45%,
      18% 52%,
      18% 61%,
      19% 68%,
      21% 72%,
      28% 74%,
      34% 75%,
      42% 79%,
      52% 79%,
      64% 79%,
      73% 78%,
      81% 74%,
      86% 67%,
      89% 58%,
      90% 51%,
      90% 43%,
      86% 36%,
      81% 28%,
      72% 20%,
      61% 17%,
      52% 16%,
      40% 18%
    );
  }
}
.dokdo:active {
  transform: translate(0px, 5px);
  filter: none;
}

.color0 {
  background-color: rgb(231, 231, 231);
  height: 100%;
}

.color1 {
  background-color: color.$color-1;
  // background: radial-gradient(color.$color-1 40%, transparent);
  height: 100%;
}

.color2 {
  background-color: color.$color-2;
  // background: radial-gradient(color.$color-2 35%, transparent);
  height: 100%;
}

.color3 {
  background-color: color.$color-3;
  // background: radial-gradient(ellipse, color.$color-3 40%, transparent);
  height: 100%;
}

.color4 {
  background-color: color.$color-4;
  // background: radial-gradient(color.$color-4 35%, transparent);
  height: 100%;
}

.color5 {
  background-color: color.$color-7;
  // background: radial-gradient(color.$color-7 35%, transparent);
  height: 100%;
}

.color6 {
  background-color: color.$color-6;
  // background: radial-gradient(color.$color-6 35%, transparent);
  height: 100%;
}

@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

.mapbtn {
  text-align: center;
  background-color: white;
  border: 0px;
  border-radius: 10px;
  font-size: 5px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 30%;
}

@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}

.flip-scale-down-ver {
  -webkit-animation: flip-scale-down-ver 0.5s 0.2s both;
  animation: flip-scale-down-ver 0.5s 0.2s both;
}
