@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.modal_container {
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9998;
  -webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  animation: slide-in-bottom 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.dialog_box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 8px 5px rgba(30, 30, 30, 0.185);
  box-sizing: border-box;
  background-color: white;
  border: 0px;
  z-index: 10000;
  padding-bottom: 20px;
}

.back_drop {
  width: 200vw;
  height: 200vh;
  position: fixed;
  top: 0;
  left: 0;
  border: 0px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.1);
}
