@use '../color';

.move__btn__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, auto));
  column-gap: 10px;
  margin-left: 25px;
  margin-right: 25px;
  .move-map-btn {
    grid-column: 2;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    background-color: color.$color-1;
    color: white;
    font-size: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .move-stamp-btn {
    grid-column: 1;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    background-color: color.$color-1;
    color: white;
    font-size: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
