.photo-card {
  width: 100%;
  margin: 4px 0;
  z-index: 0;
  a {
    text-decoration: none;
    color: black;
  }
  border-radius: 0px;
  padding-bottom: 8px;
  .photo-card__image {
    padding-top: 10px;
    display: block;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 0;
  }
  .photo-card__row {
    display: flex;
    align-items: center;
    padding: 2px 10px;
    justify-content: space-between;

    .photo-card__like {
      display: flex;
      align-items: center;
      font-size: 12px;
      float: left;
      svg {
        width: 24px;
        height: 24px;
      }
      span {
        font-size: 10px;
      }
    }
    .photo-card__comments {
      float: right;
      display: flex;
      align-items: center;

      .photo-card__comments_icon {
        margin-right: 2px;
        font-size: 22px;
      }
      font-size: 10px;
    }
  }
  .photo-card__tags {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 10px;
    max-width: 90%;
    .photo-card__tag {
      max-width: 90%;
    }
  }
}
